@mixin media-md{
    @media screen and (min-width:1024px){
        @content;        
    }
}
@mixin media-lx{
    @media screen and (min-width:1600px){
        @content;        
    }
}

@import "responsive";

body{
background: #e4e1e2;
margin: 0;
padding: 0;
box-sizing: border-box;
}



@font-face {
    font-family: 'exo-2';
    src: url('../assets/Exo2-Black.ttf') format('ttf');
    // font-weight: 700;
}

@mixin btn-cl {
    background-color: #b17f21;
    border: none;
    outline: none;
    // padding: 24px;
    padding: 6px 12px;
    margin: 6px;
    border-radius: 12px;
    color: #e4e1e2;
    color: #000000;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s , transform 0.3s;  
}

.menu-image-svg{
    cursor: pointer;
}


.pop-up-div{
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    // background-image: linear-gradient( 60deg ,black  , rgb(83, 83, 83));
    background-color: #eee8e8;
    height: 600px;
    width: 70%;
    transform: translate(-50% , -50%);
    border-radius: 24px;
    gap: 15px;
    // align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    border: 3px orange solid;
    text-align: left;
    label{
        text-align: center;
        }



    input{
        border-radius: 24px;
        outline: none;
        // box-shadow: none;
        height: 16px;
        border: none;
        padding: 8px;
        border: 2px solid green;
        background-color: #e4e1e2;   
        align-self: center; 
    }

    textarea{


        align-self: center;
        width: 200px;
        height: 300px;
        resize: none;
        outline: none;
        border-radius: 24px;
        border: none;
        padding: 12px;
        border: 2px solid #E91E63;
        background-color: #e4e1e2;
    }


    label{
        padding-left: 12px;
        margin-bottom: 6px;
    }


    .add-name-div{
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
        margin-top: 24px;


    }

    .add-description-div{
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
        max-width: 100%;

    }

    .add-btn-div{
        // align-self: center;
        justify-self: center;
        align-self: center;


        button{
            background-color: #b17f21;
            border: none;
            outline: none;
            // padding: 24px;
            padding: 6px 12px;
            margin: 6px;
            border-radius: 12px;
            color: #e4e1e2;
            color: #000000;
            font-weight: 700;
            cursor: pointer;
        transition: background-color 0.3s , transform 0.3s;        
        }


        button:hover{
            background-color: #ffa600;
            transform: scale(1.05);
        }
    }

    .add-todo-div{
        padding-top: 12px;
        display: flex;
        flex-direction: column;


        .save-todo-btn{
            margin-top: 32px;
        }

        textarea{
            height: 200px;
        }

        button{
            @include btn-cl;
        }
        button:hover{
            background-color: #ffa600;
            transform: scale(1.04);
    
        }
    }

    .todo-lister{
        display: flex;
        overflow: scroll;
        list-style: none;
        flex-direction: column;
        gap: 12px;
        width: 80%;
        align-items: center;
    }

    .todo-list{
        background-color: #090D66;
        padding: 12px 24px 12px 24px;
        color: white;
        font-size: 16px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        border-radius: 24px;
        text-align: center;
        width: 80%;
        transition: background-color 0.3s , transform 0.3;
        align-self: center;
    }
    
    .todo-list:hover{
        cursor: pointer;
        background-color: #11189e;
        scale: (1.009);
    }
    .todo-list:active{
        transform: scale(0.9);
    }
}

// .app-face{
//     display: none;
// }

.nav-bar{
        display: flex;
        justify-content: space-between;
        padding: 0 15px 0 15px;

        img{
            width: 50px;
            height: 50px;
        }
        
        .nav-left{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px;
            gap: 15px;



        .today-text{

                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 38px;
                    font-size: 34px;
                    font-weight: 700;
                    color: #000000;
            }
        }

        .nav-right{
            display: flex;
            justify-items: center;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
}


.time-section{
    margin-top: 0;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #090D66;
    font-weight: 700;

    img{
        width: 45px;
        height: 45px;
    }

}


.actions:hover{
    cursor: pointer;
}

.actions{

    .h2habits{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: green;
    }

    .h2projects{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #C98F25;
    }

    .h2tasks{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #E91E63;
    }


    margin-left: 20px;
    // margin-right: 40px;
    // color: red;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 70vh;
    // width: 50vw;




    span{
        padding: 0;
        margin: 0;
        background-color: #C98F25 ;
        color: white;
        padding: 2px 6px 2px 6px;
        border-radius: 24px;
        font-size: 14px;
        font-weight: 600;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    }

    li{
        p{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 18px;
            color:#090D66;
            font-weight: 600;
            margin: 0;
        }
    }

    .delete-and-title-container{

        display: flex;
        align-items: center;
        // justify-content: ;
        gap: 12px;
        img{
            width: 24px;
            height: 24px;
        }
    }

    img{
        width: 50px;
        height: 50px;
    }

    li{
        list-style-type: none;
    }

    .project-name-container{
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 18px;  
        
    }

    .habit-name-container{
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 18px;
        span{
            background-color:green;
        }
    }

    .task-name-container{
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 18px;
        span{
            background-color:#E91E63;
        }

    }

    .projects{
        border-left: #C98F25 3px solid;
        border-bottom: #C98F25 3px solid;
        border-right: #C98F25 3px solid;
        margin-right: 40px;
        border-radius:0 0 24px 24px;
    }
    .tasks{
        margin-right: 40px;
        border-left: #E91E63 3px solid;
        border-bottom:#E91E63 3px solid;
        border-right:#E91E63 3px solid;
        border-radius:0  0 24px 24px;

    }
    .habits{
        margin-right: 40px;
        border-left: green 3px solid;
        border-bottom: green 3px solid;
        border-right: green 3px solid;
        border-radius:0  0 24px 24px;
        
    }
}

.icon-footer-container{
    display: flex;
    // flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
    gap: 14px;
    justify-content: space-around;
    padding-top: 25px ;
    margin-top: 12px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;

    position: absolute;
    height: 80px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    background: #DCD6D6;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.33);
// border-radius: 24px;

    p{
        margin: 0;
        padding: 0;
        color: #090D66;
        text-align: center;
    }


.icon-footer-container{
    display: flex;
}

    img{
        width: 35px;
        height: 35px;
    }

    p{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 600;
    }
    
}


.li-div-todo{
    display: flex;
    gap: 6px;
    align-items: center;
    margin-left: 24px;
    margin-bottom: 12px;


    .span-text-time{
        background-color: #E91E63;
        margin-right: 8px;

    }

    .span-text-date{
        background-color: #C98F25;
    }
    
    
    
    span{
        color: #090D66;
        background-color: transparent;
        color: white;
    }
}

// Menu STYLE

.menu-bar{
    z-index: 5;
    height: 100vh;
    display: flex;
    position: absolute;
    top: 0;
    gap: 15px;
    flex-direction: column;
    width: 90%;
    background-color: #DCD6D6;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
    // overflow: hidden;


    .github-icon:hover{
        cursor: pointer;
        
    }



    .logo-menu{
        width: 300px;

    }



    h2{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin: 0;
    }

    .day-container{
        margin-left: 16px;
        border-bottom: 1px solid gray;


        padding-bottom: 12px;


        span{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: #090D66;

        }


        img{
            width: 16px;
            height: 16px;
            margin-left: 12px;
        }
    }

}

.add-list{



    .add-list-individual-container{
        display: flex;
        align-items: center;
    }


    .add-list-text-hover:hover{
        cursor: pointer;
        color: #E91E63;
    }

    display: flex;
    flex-direction: column;
    margin-left: 40px;
    gap: 12px;

    span{
        font-size: 16px;
        margin-left: 8px;
        font-weight: 600;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #090D66;
    }
    img{
        width: 25px;
        height: 25px;
    }
}


.add-todo-div-section{
    display: flex;
    flex-direction: column;
    width: 70%;
    align-self: center;
    height: 100%;

    text-align: start;

    textarea{
        width: 100%;
        align-self:center;
    }

    button{
        @include btn-cl;
        width: 200px;
        align-self: center;
    }


    input{
        width: 100%;
        align-self:center;

    }

    button:hover{
        background-color: #ffa600;
        transform: scale(1.05);
    }
}

.add-task-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
    border: #b17f21 solid 3px;
    padding: 24px;
    border-radius: 24px;

    input{
        border-radius: 24px;
        outline: none;
        // box-shadow: none;
        height: 16px;
        border: none;
        padding: 8px;
        border: 2px solid green;
        background-color: #e4e1e2;   
        align-self: center; 
    }

    

    textarea{

        align-self: center;
        width: 200px;
        height: 300px;
        resize: none;
        outline: none;
        border-radius: 24px;
        border: none;
        padding: 12px;
        border: 2px solid #E91E63;
        background-color: #e4e1e2;
    }

    button{
        @include btn-cl;
    }

    button:hover{
        background-color: #ffa600;
        transform: scale(1.05);
    }

    .x-return-svg{
        position: absolute;
        top: 0;
        right: 0;
        padding: 12px;
        width: 24px;
        cursor: pointer;

    }
    .x-return-svg:active{
        transform: scale(0.8);
    }
}

.add-habit-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
    border: #b17f21 solid 3px;
    padding: 24px;
    border-radius: 24px;

    input{
        border-radius: 24px;
        outline: none;
        // box-shadow: none;
        height: 16px;
        border: none;
        padding: 8px;
        border: 2px solid green;
        background-color: #e4e1e2;   
        align-self: center; 
    }

    

    textarea{

        align-self: center;
        width: 200px;
        height: 300px;
        resize: none;
        outline: none;
        border-radius: 24px;
        border: none;
        padding: 12px;
        border: 2px solid #E91E63;
        background-color: #e4e1e2;
    }

    button{
        @include btn-cl;
    }

    button:hover{
        background-color: #ffa600;
        transform: scale(1.05);
    }

    .x-return-svg{
        position: absolute;
        top: 0;
        right: 0;
        padding: 12px;
        width: 24px;
        cursor: pointer;

    }
    .x-return-svg:active{
        transform: scale(0.8);
    }

}


.add-project-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
    border: #b17f21 solid 3px;
    padding: 24px;
    border-radius: 24px;

    input{
        border-radius: 24px;
        outline: none;
        // box-shadow: none;
        height: 16px;
        border: none;
        padding: 8px;
        border: 2px solid green;
        background-color: #e4e1e2;   
        align-self: center; 
    }

    

    textarea{

        align-self: center;
        width: 200px;
        height: 300px;
        resize: none;
        outline: none;
        border-radius: 24px;
        border: none;
        padding: 12px;
        border: 2px solid #E91E63;
        background-color: #e4e1e2;
    }

    button{
        @include btn-cl;
    }

    button:hover{
        background-color: #ffa600;
        transform: scale(1.05);
    }

    .x-return-svg{
        position: absolute;
        top: 0;
        right: 0;
        padding: 12px;
        width: 24px;
        cursor: pointer;

    }
    .x-return-svg:active{
        transform: scale(0.8);
    }

}

